@model ViewModels.StudentEntityBindingViewModel

@{
    ViewBag.Title = "Actions";
}

<section class="title">
    <div class="container">
        <div class="heading">
            @if (Model.RollNumber > 0)
            {
                <h3>Update Form</h3>
            }
            else
            {
                <h3>Create Form</h3>
            }
        </div>
    </div>
</section>

<section class="section-3">
    <div class="container">
        <div>
            <form class="form" action="@Url.Action("Actions", "Student")" method="post">
                <div class="input-box">
                    <input type="hidden" name="ID" placeholder="Enter name" value="@Model.ID">
                </div>
                <div class="input-box">
                    <input type="hidden" name="RollNumber" placeholder="Enter name" value="@Model.RollNumber">
                </div>
                <div class="input-box">
                    <input type="text" name="Name" placeholder="Enter name" value="@Model.Name">
                </div>
                <div class="input-box">
                    <input type="text" name="Class" placeholder="Enter Class" value="@Model.Class">
                </div>
                <div class="input-box">
                    <input type="text" name="Gender" placeholder="Enter Gender" value="@Model.Gender">
                </div>
                <div class="input-box">
                    <input type="text" name="Age" placeholder="Enter Age" value="@Model.Age">
                </div>
                <div class="input-box">
                    <input type="text" name="fees" placeholder="Enter Fees" value="@Model.Fees">
                </div>
                <div class="input-box">
                    <input type="text" name="City" placeholder="Enter City" value="@Model.City">
                </div>
                <div class="input-box">
                    <input type="text" name="Address" placeholder="Enter Address" value="@Model.Address">
                </div>
                @*<div class="input-box">
                            <input type="date" name="AddmissionSession" placeholder="Enter Addmission Session">
                    </div>*@
                <div class="flex">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button class="btn btn-cancel" @Url.Action("StudentsListing", "Student")>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>