@model BusinessEntity.StudentEntity

@{
    ViewBag.Title = "Edit";
}

<section class="section-3">
    <div class="container">
        <div>
            <form class="form" id="studentFormSerialize">
                <div class="input-box">
                    <input type="hidden" name="ID" placeholder="Enter name" value="@Model.ID">
                </div>
                <div class="input-box">
                    <input type="hidden" name="RollNumber" placeholder="Enter name" value="@Model.RollNumber">
                </div>
                <div class="input-box">
                    <input type="text" name="Name" placeholder="Enter name" value="@Model.Name">
                </div>
                <div class="input-box">
                    <input type="text" name="Class" placeholder="Enter Class" value="@Model.Class">
                </div>
                <div class="input-box">
                    <input type="text" name="Gender" placeholder="Enter Gender" value="@Model.Gender">
                </div>
                <div class="input-box">
                    <input type="text" name="Age" placeholder="Enter Age" value="@Model.Age">
                </div>
                <div class="input-box">
                    <input type="text" name="Fees" placeholder="Enter Fees" value="@Model.Fees">
                </div>
                <div class="input-box">
                    <input type="text" name="City" placeholder="Enter City" value="@Model.City">
                </div>
                <div class="input-box">
                    <input type="text" name="Address" placeholder="Enter Address" value="@Model.Address">
                </div>
                <div class="input-box">
                    <input type="hidden" name="AddmissionSession" placeholder="Enter Addmission Session" value="@Model.AdmissionSession">
                </div>
                <div class="flex">
                    <button class="btn btn-primary" id="editButton">Edit</button>
                    <button class="btn btn-cancel" id="cancelButton">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        //--> Edit button functinality.
        $('#studentFormSerialize').validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 1,
                    maxlength: 50
                },
                Class: {
                    required: true,
                    minlength: 1,
                    maxlength: 20
                },
                Gender: {
                    required: true,
                    minlength: 1,
                    maxlength: 10
                },
                Age: {
                    required: true,
                    digits: true,
                    min: 18,
                    max: 40
                },
                Fees: {
                    required: true,
                    digits: true,
                    min: 400,
                    max: 1200
                },
                City: {
                    required: true,
                    minlength: 1,
                    maxlength: 50
                },
                Address: {
                    required: true,
                    minlength: 1,
                    maxlength: 100
                }
            },
            messages: {
                Name: {
                    required: 'Please Enter The valid Name*.',
                    minlength: 'Minimum length is 1.',
                    maxlength: 'Please Enter No More Than 50 Characters.'
                },
                Class: {
                    required: 'Please Enter The Class.',
                    minlength: 'Minimum length is 1',
                    maxlength: 'Please Enter No More Than 20 Charaters.'
                },
                Gender: {
                    required: 'Please Enter The valid Gemder*.',
                    minlength: 'Minimum length is 1',
                    maxlength: 'Please Enter No More Than 10 Charaters.'
                },
                Age: {
                    required: 'Please Enter The valid age*.',
                    minlength: 'Minimum length is 1',
                    maxlength: 'Please Enter No More Than 40 Charaters.',
                    min: 'Please Enter the Age greater than or equal to 18',
                    max: 'Please Enter the Age less than or equal to 40'
                },
                Fees: {
                    required: 'Please Enter The valid Fees*.',
                    min: 'Please!! Fees must be greater than or equal to 400',
                    mix: 'Please!! Fees must less than or equal to 1200'
                },
                City: {
                    required: 'Please Enter The valid city*.',
                    minlength: 'Minimum length is 1',
                    maxlength: 'Please Enter No More Than 50 Charaters.'
                },
                Address: {
                    required: 'Please Enter The valid Address*.',
                    minlength: 'Minimum length is 1',
                    maxlength: 'Please Enter No More Than 100 Charaters.'
                }
            }
        });
        $('#editButton').click(function () {
            if ($('#studentFormSerialize').valid())
            {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Edit", "Student")',
                    data: $('#studentFormSerialize').serialize(),
                    success: function (response) {
                        $('#actionContainer').html('');
                    },
                    error: function (error) {
                        swal("Oops something went wrong !! " + error.status);
                    }
                });
            }
            else
            {
                swal("Please Enter All Required Fields");
            }
        });

      

    });  //--> Here is close document ready function().
</script>
