@model BusinessEntity.StudentEntity

@{
    ViewBag.Title = "Edit";
}

<section class="section-3">
    <div class="container">
        <div>
            <form class="form" id="studentFormSerialize">
                <div class="input-box">
                    <input type="hidden" name="ID" placeholder="Enter name" value="@Model.ID">
                </div>
                <div class="input-box">
                    <input type="hidden" name="RollNumber" placeholder="Enter name" value="@Model.RollNumber">
                </div>
                <div class="input-box">
                    <input type="text" name="Name" placeholder="Enter name" value="@Model.Name">
                </div>
                <div class="input-box">
                    <input type="text" name="Class" placeholder="Enter Class" value="@Model.Class">
                </div>
                <div class="input-box">
                    <input type="text" name="Gender" placeholder="Enter Gender" value="@Model.Gender">
                </div>
                <div class="input-box">
                    <input type="text" name="Age" placeholder="Enter Age" value="@Model.Age">
                </div>
                <div class="input-box">
                    <input type="text" name="Fees" placeholder="Enter Fees" value="@Model.Fees">
                </div>
                <div class="input-box">
                    <input type="text" name="City" placeholder="Enter City" value="@Model.City">
                </div>
                <div class="input-box">
                    <input type="text" name="Address" placeholder="Enter Address" value="@Model.Address">
                </div>
                <div class="input-box">
                     <input type="hidden" name="AddmissionSession" placeholder="Enter Addmission Session" value="@Model.AdmissionSession">
                </div>
                <div class="flex">
                    <button class="btn btn-primary" id="editButton">Edit</button>
                    <button class="btn btn-cancel" id="cancelButton">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        //--> Edit button functinality.
        $('#editButton').click(function () {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Edit", "Student")',
                data: $('#studentFormSerialize').serialize(),
                success: function (response) {
                    $('#actionContainer').html('');
                },
                error: function (error) {
                    swal("Oops something went wrong !! " + error.status);
                }
            });
        });


    });  //--> Here is close document ready function().
</script>
