@model IEnumerable<BusinessEntity.StudentEntity>

@{
    ViewBag.Title = "Listing";
}

<section class="section-0">
    <div class="container">
        <div class="search-wrapper">
            <div class="search-box">
                <input type="text" class="focus">
                <button class="seperate clickShow"><i class="fa-solid fa-xmark"></i></button>
                <button><i class="fa-solid fa-magnifying-glass search"></i></button>
                <button class="btnCreate" id="createButton">Create</button>
            </div>
        </div>
    </div>
</section>

<section class="section-1">
    <div class="container">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Fees</th>
                        <th>City</th>
                        <th>Task</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.Name</td>
                            <td>@student.Gender</td>
                            <td>@student.Age</td>
                            <td>@student.Fees</td>
                            <td>@student.City</td>
                            <td>
                                <a href="#">Edit  <i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="#">Delete  <i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        //--> Create Button functionality.
        $('#createButton').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create", "Student")',
                success: function (response) {
                    $('#actionContainer').html(response);
                },
                error: function (error) {
                    swal("Oop's something went wrong !!" + error);
                }
            });
        });

        //--> Please dont touch this line of code without consdering the rest of the code.
        $('.focus').on({
            keydown: function () {
                $('.clickShow').css('display', 'block')
            }
        });

        $('.clickShow').click(function () {
            $('.clickShow').css('display', 'none')
        });

    });  //--> Here is Close document ready function().
</script>