
@{
    ViewBag.Title = "StudentsListing";
}

<form action="@Url.Action("Actions", "Student")" method="get">
    <section class="section-0">
        <div class="container">
            <div class="search-wrapper">
                <div class="search-box">
                    <input type="text" class="focus" placeholder="Search" id="searchField">
                    <button class="seperate clickShow"><i class="fa-solid fa-xmark"></i></button>
                    <button id="searchButton"><i class="fa-solid fa-magnifying-glass search"></i></button>
                    <button class="btnCreate" id="createButton">Create</button>
                </div>
            </div>
        </div>
    </section>
</form>

<section class="section-1">
    <div class="container">
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>Fees</th>
                        <th>City</th>
                        <th>Task</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.Name</td>
                            <td>@student.Gender</td>
                            <td>@student.Age</td>
                            <td>@student.Fees</td>
                            <td>@student.City</td>
                            <td>
                                <a href="@Url.Action("Actions", "Student", new { student.RollNumber })" data-id="@student.RollNumber">Edit  <i class="fa-solid fa-pen-to-square"></i></a>
                                <a data-id="@student.RollNumber">Delete  <i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>