@*@model IEnumerable<BusinessEntity.CourseEntity>*@
@model ViewModels.UniversityStudentCombineCourseBindingViewModel

@{
    ViewBag.Title = "Addmission";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}

<section class="section-form">
    <div class="container">
        <div class="form-wrapper">
            <h2 class="heading">Registeration</h2>
            <form class="form" action="@Url.Action("Admission","University")" method="post" id="universityFormSerialize">
                <div class="input-box flex">
                    <div>
                        <label for="">Name</label>
                        <input type="text" name="Name" placeholder="Enter Name*" value="@Model.Name" />
                    </div>
                    <div>
                        <label for="">Age</label>
                        <input type="text" name="Age" placeholder="Enter Age*" value="@Model.Age" />
                    </div>
                </div>
                <div class="input-box flex">
                    <div>
                        <label for="">Fees</label>
                        <input type="text" name="Fees" placeholder="Enter Fees*" value="@Model.Fees">
                    </div>
                    <div>
                        <label for="">City</label>
                        <input type="text" name="City" placeholder="Enter City*" value="@Model.City">
                    </div>
                </div>
                <div class="input-box flex">
                    <div>
                        <label for="">Document</label>
                        <input type="text" name="Document" placeholder="Enter Document*" class="file">
                    </div>
                    <div>
                        <label for="">Image</label>
                        <input type="file" name="Image" placeholder="Enter Age*" class="file">
                    </div>
                </div>
                <div class="radio-button mb-1">
                    <div>
                        <label for="Gender" class="display-block">Gender</label>
                        <select name="Gender" id="selectGender">
                            <option value="-1" selected>--Select*</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                </div>
                <div class="radio-button course-selection">
                    <div>
                        <label for="Gender" class="display-block">Select Course</label>
                        <select name="CourseID" id="selectCourse">
                            <option value="-1" selected>--Select*</option>
                            @foreach (var course in Model.CourseList)
                            {
                                <option value="@course.ID">@course.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="buttons">
                    <div class="btn-wrapper flex justify-end items-center">
                        <a id="submitButton">Register</a>
                        <a href="@Url.Action("Index", "University")">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        //--> Form submit button functionality.
        $('#universityFormSerialize').validate({
            rules: {
                Name: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required:'Name is required*'

                }
            }
        });
        $('#submitButton').click(function () {
            if ($('#universityFormSerialize').valid())
            {
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("Admission","University")',
                    data: $('#universityFormSerialize').serialize(),
                    success: function (response) {
                        window.location.href = '@Url.Action("Congratulation", "University")'
                    },
                    error: function (error) {
                        swal("Oosps something went wrong !! " + error.status);
                    }

                });
            }
            else
            {
                swal("Please enter all required fields !! ");
            }
        });




    }); //--> Here is close document ready function().
</script>



@*$('#submitButton').click(function () {
        debugger;
        $('#selectCourse').change(function () {
            if ($(this).val() == -1) {
                toastr.success("Please Select Course", 'Error Alert', { timeout: 5000, 'closeButton': true })
                return false;
            }
        });

        $('#selectGender').change(function () {
            if ($(this).val() == -1) {
                toastr.success("Please Select Gender", 'Error Alert', { timeout: 5000, 'closeButton': true })
                return false;
            }
        });
    });*@