@model ViewModels.CourseBindingViewModelPagination

@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}

<!--  --------------------------- main ---------------------\
 ----  ---------------------------------------------------------------------------------->
<main class="main-section">

    <div class="container">
        @foreach (var item in Model.Course)
        {
            <section class="card-wrapper flex mt-1 mb-5">
                <div class="card-item thin-border">
                    <img src="~/Content/ThemeMaterial/Assets/AzureDevops.png" alt="" width="250" height="150">
                    <p class="mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, obcaecati?</p>
                    <h2><span>@item.Name</span></h2> <br />
                    <h2><span>200.20$</span></h2> <br />
                    <a href="#" class="a-btn">By now</a>
                </div>

                <div class="card-item thin-border">
                    <img src="~/Content/ThemeMaterial/Assets/AzureDevops.png" alt="" width="250" height="150">
                    <p class="mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, obcaecati?</p>
                    <h2><span>@item.Name</span></h2> <br />
                    <h2><span>200.20$</span></h2> <br />
                    <a href="#" class="a-btn">By now</a>
                </div>

                <div class="card-item thin-border">
                    <img src="~/Content/ThemeMaterial/Assets/Bitmap-MEDIUM_ASP.NET-Core-MVC-Logo_2colors_Square_Boxed_RGB.png" alt="" width="250" height="150">
                    <p class="mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, obcaecati?</p>
                    <h2><span>@item.Name</span></h2> <br />
                    <h2><span>200.20$</span></h2> <br />
                    <a href="#" class="a-btn">By now</a>
                </div>

                <div class="card-item thin-border">
                    <img src="~/Content/ThemeMaterial/Assets/linq.png" alt="" width="250" height="150">
                    <p class="mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, obcaecati?</p>
                    <h2><span>@item.Name</span></h2> <br />
                    <h2><span>200.20$</span></h2> <br />
                    <a href="#" class="a-btn">By now</a>
                </div>
            </section>

        }

        <a class="showMore mb-1 pagination" id="click" data-click="click" data-pageNo="@( Model.PageNumber + 1 )">Show More</a>
    </div>

    <div class="container">
        <section class="section-heading mt-1" id="moveToService">
            <div class="heading">
                <h3>Skill Courses</h3>
            </div>
        </section>

        <section class="course-slider mt-1 thin-border">
            <!-- Swiper -->
            <div class="swiper course-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/86916754-6b0c9380-c167-11ea-901b-78571ad4065d.png" alt="logo"> Take Course </a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/AzureDevops.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/Bitmap-MEDIUM_ASP.NET-Core-MVC-Logo_2colors_Square_Boxed_RGB.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/linq.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/vstsfeature.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/microsoft.gif" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/OIP.jpg" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/png-clipart-c-logo-c-programming-language-computer-icons-computer-programming-programming-miscellaneous-blue.png" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/preview_9290a0d4544d79be552c190170afe17c.jpg" alt="logo"></a> </div>
                    <div class="swiper-slide thin-border-right"> <a href="#"><img src="~/Content/ThemeMaterial/Assets/R.png" alt="logo"></a> </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
    </div>
</main>


<script>
    $(document).ready(function () {
        $('.pagination').click(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Courses", "University")',
                data: {
                    clicked: $('#click').attr('data-click'),
                    pageNo: $('#click').attr('data-pageNo')
                },
                success: function (response) {
                    //window.location.reload();
                },
                error: function (error) {
                    swal("Oops something went wrong !!" + error.status);
                }


            })
        })
    });
</script>