@model IEnumerable<BusinessEntity.UniversityStudentEntity>

@{
    ViewBag.Title = "ControlPanel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!----  ------ main-section ---------------------/
------  ---------------------------------------------------------------->
<main class="main-section">
    <div class="container">
        <div class="content-wrapper grid">
            <aside class="side-bar">
                <div>
                    <a href="#"><img src="~/Content/ThemeMaterial/Assets/preview_9290a0d4544d79be552c190170afe17c.jpg" alt=""></a>
                </div>
                <div class="aside-links flex flex-direction-column">
                    <!-- <a href="#">Dashboard</a> -->
                    <a href="#"><i class="fa-solid fa-list"></i> Student List</a>
                    <a href="#" class="active"><i class="fa-solid fa-file-signature"></i> New Admission</a>
                    <a href="#"><i class="fa-solid fa-bars-progress"></i> Manage Portal</a>
                    <a href="#"><i class="fa-solid fa-list-check"></i> Task</a>
                    <a href="#"><i class="fa-solid fa-gear"></i> Settings</a>
                    <a href="#"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
                </div>
            </aside>
            <section class="messages grid">
                <div class="notification flex flex-direction-column">
                    <a href="#"><i class="fa-solid fa-folder-open"></i> New Student</a>
                    <a href="#"><i class="fa-solid fa-bell"></i> Alert</a>
                </div>
                <!-- action task -->
                <div class="action-task">
                    <div class="move-links flex space-between">
                        <div class="similar-links flex flex-direction-column items-center">
                            <a href="#"><i class="fa-solid fa-book-open-reader"></i> Open Admission Form</a>
                            <a href="#"><i class="fa-solid fa-lock"></i> Close Admission Form</a>
                        </div>
                        <div class="similar-links flex flex-direction-column items-center">
                            <a href="#"><i class="fa-solid fa-lock-open"></i> Open Examination Form</a>
                            <a href="#"><i class="fa-solid fa-lock"></i> Close Examination Form</a>
                        </div>
                        <div class="pass-out-student similar-links flex flex-direction-column items-center">
                            <a href="#"><i class="fa-solid fa-graduation-cap"></i> Degree Completed</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="main-content flex space-between">
                <div class="table-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Gender</th>
                                <th>Fees</th>
                                <th>City</th>
                                <th>Task</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var universityStuent in Model)
                            {
                                <tr>
                                    <td>@universityStuent.Name</td>
                                    <td>@universityStuent.Age</td>
                                    <td>@universityStuent.Gender</td>
                                    <td>@universityStuent.Fees</td>
                                    <td>@universityStuent.City</td>
                                    <td>
                                        <a href="#"><i class="fa-solid fa-pen"></i> Edit</a>
                                        <a href="#" class="middle"><i class="fa-solid fa-trash-can"></i> Delete</a>
                                        <a href="#"><i class="fa-solid fa-asterisk"></i> Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
</main>